<li class="view-list-item">
    <img
        class="view-img"
        src="https://via.placeholder.com/150"
        alt="Geen afbeelding gevonden"
    />
    <div class="view-info">
        <h3 class="view-title">Klik op Luisteren knop om te zoeken naar verhalen.</h3>
        <p class="view-summary">"Nog geen samenvatting van verhaal gevonden"</p>
    </div>
</li>

<li class="view-list-item">
    <img
        class="view-img"
        src="https://via.placeholder.com/150"
        alt="Geen afbeelding gevonden"
    />
    <div class="view-info">
        <h3 class="view-title">Klik op Luisteren knop om te zoeken naar verhalen.</h3>
        <p class="view-summary">"Nog geen samenvatting van verhaal gevonden"</p>
    </div>
</li>

<li class="view-list-item">
    <img
        class="view-img"
        src="https://via.placeholder.com/150"
        alt="Geen afbeelding gevonden"
    />
    <div class="view-info">
        <h3 class="view-title">Klik op Luisteren knop om te zoeken naar verhalen.</h3>
        <p class="view-summary">"Nog geen samenvatting van verhaal gevonden"</p>
    </div>
</li>

<li class="view-list-item">
    <img
        class="view-img"
        src="https://via.placeholder.com/150"
        alt="Geen afbeelding gevonden"
    />
    <div class="view-info">
        <h3 class="view-title">Klik op Luisteren knop om te zoeken naar verhalen.</h3>
        <p class="view-summary">"Nog geen samenvatting van verhaal gevonden"</p>
    </div>
</li>
